:root { 
--gray_600:#777e87; 
--white_A700_00:#ffffff00; 
--gray_700:#575d65; 
--blue_gray_200:#b1b8c5; 
--gray_800:#363b40; 
--blue_gray_600:#5a6a75; 
--blue_gray_800:#39474e; 
--blue_gray_700:#3d525d; 
--white_A700:#ffffff; 
--blue_gray_700_01:#49565f; 
--blue_gray_800_01:#3d484e; 
}